<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the coin4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innky.coin.exchange.mapper.UserAssetsMapper">

  <resultMap id="userAssetsMap" type="com.innky.coin.exchange.entity.UserAssets">
    <id property="id" column="id"/>
    <result property="userId" column="user_id"/>
    <result property="coinId" column="coin_id"/>
    <result property="amount" column="amount"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateBy" column="update_by"/>
  </resultMap>
    <select id="getAllByUserId" resultType="com.innky.coin.exchange.vo.UserAssetsVO">
		select
			user_assets.amount amount, c.coin_name name
		from user_assets left join coin c on user_assets.coin_id = c.id
		where
			user_id = #{userId,jdbcType=NUMERIC}
    </select>
    <update id="updateAmountByCoinIdAndUserId">
        update user_assets
        set amount = #{amount}
        where coin_id = #{coinId,jdbcType=NUMERIC}
          AND user_id = #{userId,jdbcType=NUMERIC}
    </update>
	<select id="getAmountByCoinIdAndUserIdForUpdate" resultMap="userAssetsMap">
		select amount
		from user_assets
		where coin_id = #{coinId,jdbcType=NUMERIC}
		  AND user_id = #{userId,jdbcType=NUMERIC}
		for update
	</select>

</mapper>
